 body {
 	overflow: hidden;
 }
p {
	font-size:15px;
}
.navbar-header {
	position: fixed;top:5px;
	left: 5px;
}
.navbar-header i {
	position:relative;
	bottom:5px;
}
.navbar-header p {
	font-size:17px;
	display:inline;
	position:relative;
	bottom:10px;
}
nav {
	text-align: center;
}
nav p {
  color: #fff;
  position: relative;
  top: 5px; 
  font-size: 30px;
  text-align: center;
  margin-left: 0px;
  display: inline-block;
}
.mainsection {
	height:100%;
}
.leftsidebar {
	width:30%;
	height:100%;
	float:left;
	overflow: scroll;
	padding-bottom:50px;
}
.leftsidebar h2 {
	text-align:center;
}
.leftsidebar h3 {
	text-align:center;
}
.solutionbutton {
	margin:0 auto;
    display:block;
    background-color:#fff;
    border:1px solid #333;
}
.solutionbutton h3 {
	margin-bottom:0px;
}
.centersection {
	width:70%;
	height:100%;
	background-color:#141414;
	float:left;
	overflow: hidden;
}
.headlabel {
	padding:12px 30px;
	border-bottom:1px solid #ACACAC;
	background-color:#F8F8F8;
	position: relative;
}
.headlabel h4 {
	display:inline;
}
.headlabel button {
	float:right;
	position:relative;
	bottom:3px;
}
.bodylabel {
	margin: 20px 30px;
}
.bodylabel p {
	margin-bottom:20px;
}
.fullwidth {
	background-color:#BEFFCD;
	border-top: 1px solid #4FFF72;
	border-bottom: 1px solid #4FFF72;
}
.instructions {
	padding: 20px 30px;
}
.solution {
	padding: 20px 0px;
}
.solution a {
	padding:5px;
	display: inline-block;
	font-size: 20px;
}
.solution .bg-info {
	position: relative;
    top: 32px;
}
.answer {
	display:none;
}
:focus{
	outline:none;
}
.tabs {
	height:43px;
	background-color:#000000;
	border-bottom: 1px solid #1A2125;
}
.tabs ul {
	padding-left:15px;
	padding-top:21px;
	margin-bottom:0px;
}
.tabs .tab {
	display:inline;
	margin-right:10px;
	color:#CC6666;
	border-left: 1px solid #1A2125;
	border-top: 1px solid #1A2125;
	border-right: 1px solid #1A2125;
	padding:22px 15px 0 15px;
	background-color: #141414;
}
.tabs .tab a {
	color:#CC6666;
	font-size:17px;
	position: relative;
  	bottom: 10px;
}
.tabs .tab a:focus {
	outline:none;
}
.tabs div {
	margin:10px 30px;
}
footer {
	background-color:#000;
	height:60px;
	width:100%;
	position: fixed; 
	bottom: 0;
	border-top: 1px solid #1A2125;
}
footer button {
	height:35px;
	margin-top:12px;
	margin-left:20px;
}
footer .savesubmit {
	margin-left:50px;
}
.texteditor {
	height:50%;
	width:40%;
	float:right;
	border:10px solid #1A2125;
	position:relative;
	right:20px;
	bottom:20px;
	border-radius:5px;
}
.screen {
	width:100%;
	height:85%;
	background-color:#fff;
}
.browserView {
	padding: 5px;
	height: 100%;
	
}
.browserView > div {
	margin: 3px 0;
	border: 3px solid #000;
	height: 99%;
}
.controls {
	background-color: #5C5C5C;
	color: white;
	padding: 3px 5px 7px;
}
.controls div {
	font-size: 14px;
	border-radius: 50%;
	height: 15px;
	min-width: 15px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-left: 4px;
}
.times {
	background-color: red;
}
.minus {
	background-color: yellow;
}
.square-o {
	background-color: limegreen;
}
.browserNav {
	background-color: lightgrey;
	padding:7px 5px 0 5px;
	margin-bottom: 5px;
}
.browserTab {
	
}
.browserTab span {
	border: 3px solid #000;
	border-bottom: transparent;
	padding: 1px 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


.fullscreen {
	background-color:#1A2125;
}
.fullscreen button {
	float:right;
	position:relative;
	right:20px;
	top:12px;
	padding: 5px 15px;
	border:1px solid #fff;
	color:#fff;
	background-color:#000;
}
.savesubmit,
.resetcode {
	border:1px solid #fff;
	color:#fff;
	background-color:#000;
	padding: 5px 15px;
}
.fullscreen button:hover,
.savesubmit:hover,
.resetcode:hover  {
	border:1px solid #000;
	color:#000;
	background-color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

/*=====================================================================

	INDEX.HTML

=====================================================================*/
#beginLogo {
	left:0;
}
#beginContainer {
	background-color:#E6E6E6;
	height:100%;
	padding: 15em 0;
}
#beginContainer > button {
	border: 1px solid #fff;
    color: #fff;
    background-color: #000; 
    padding: 15px 25px; 
    font-size:24px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#beginContainer > button:hover,
#beginContainer > button:focus {
	border: 1px solid #000;
	color: #000;
    background-color: #fff; 
}
#beginContainer > .container {
	position: absolute;
	bottom: 0;
	width: 100%;
}
#beginContainer > .container > .col-md-6 > a {
	font-size: 24px;
}
#courses {
	background-color: #fff;
	margin-bottom: 25px;
}
#courses ol {
    margin-bottom: 0;
    list-style-type: upper-roman;
}
#courses li {
	font-size: 20px;
}

/*=====================================================================

	META.PHP

=====================================================================*/
.bodylabel ol,
.bodylabel ul,
.instructions ol,
.tabs ol {
	padding-left: 15px;
}
.bodylabel li,
.extraTips li,
.instructions li  {
	font-size: 16px;
    margin: 5% 0;
}
.extraTips {
	padding: 20px 30px;
    background-color: #E6E6E6;
}
.extraTips span {
	font-weight: bold;
}
.ui-state-active {
	background-color: #000 !important;
	border: 1px solid #fff !important;
}
.indent1 {
	margin-left:10px;
}
.indent2 {
	margin-left:20px;
}
li[contenteditable="true"] span{
	color:#5C5C5C;
}
.centersection li {
	color:#fff;
}
.metaCorrect,
.metaIncorrect {
	position: absolute;
	bottom: 5px;
	right: -2000px;
	z-index: 100;
	transition: all 0.5s ease-in-out;
	width: 45%;
    text-align: center;
}
.metaCorrect a {
	color: #000;
	font-weight: bold;
	margin-left: 15px;
	text-decoration: underline;
}
.text1 {
	right: 0 !important;
}
.alert {
	margin-bottom: 0;
}

.red {
	color: #f0e68c !important;
	font-weight: 500;
}
.green {
	color: limegreen !important;
}
.yellow {
	color: #bdb76b !important;
}
.pink {
	color: #ffa0a0 !important;
}
.dropdown {
    position: absolute;
    display: inline;
    top: 7px;
    right: 7px;
}
.headlabel .dropdown-menu > li > a:hover {
	color: #444;
    background-color: #dbdbdb;
}


/*=====================================================================

	ATTR.PHP

=====================================================================*/
#attrInfo > li > span,
.extraTips span {
	font-weight: bold;
}
}